/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* SCROLL BAR  STYLING */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7088;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f26db1;
}
/* SCROLL BAR OVER STYLING */

.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7088;
  transition: transform 1s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
